# File system junk files
Desktop.ini
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
.apdisk
.fseventsd

# Editor files
*.sublime-*
*.swp
.c9
.sass-cache/
.vscode

# Wordpress
wp-content/*

# WordPress Starter Dev Files
/Dockerfile
/docker-compose.yml
test.sh
