# File system junk files
Desktop.ini
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
.apdisk
.fseventsd

# Editor files
*.sublime-*
*.swp
.c9
.sass-cache/

# Wordpress
wp-content/*
!wp-content/themes/

# WordPress Starter Dev Files
php*
Dockerfile-test
test.sh
