<div class="dialog wpml-dialog" title="{{ strings.title|e }}" data-close="{{ strings.close|e }}" data-refresh="{{ strings.refresh|e }}" style="display: none;">
	{% include 'source-language.twig' with sourceLanguage %}
	<div class="summary" style="display: none;"></div>
	<div class="spinner"></div>
</div>
